*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
scroll-behavior:smooth;
}

body{
background:#f4f6f8;
color:#111;
line-height:1.7;
}

header{
background:#000;
color:#fff;
padding:20px 60px;
display:flex;
justify-content:space-between;
align-items:center;
position:fixed;
width:100%;
top:0;
z-index:1000;
}

header h1{
font-size:28px;
letter-spacing:2px;
}

nav a{
color:white;
margin-left:25px;
text-decoration:none;
font-weight:500;
}

nav a:hover{
color:#00c853;
}

section{
padding:120px 60px 80px 60px;
}

.hero{
height:100vh;
background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("met1.jpg");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
}

.hero h2{
font-size:50px;
margin-bottom:20px;
}

.btn{
display:inline-block;
padding:12px 25px;
background:#00c853;
color:white;
border-radius:5px;
text-decoration:none;
margin-top:20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.whatsapp-btn{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px 20px;
border-radius:50px;
text-decoration:none;
font-weight:bold;
}

footer{
background:#000;
color:white;
text-align:center;
padding:30px;
}
